.gen-sched-controls{
    margin-bottom:15px;

    border-top: 1px solid #888;
    border-bottom:  1px solid #888;
}
.gen-sched-controls-header{
    padding-top: 15px;
    margin-bottom: 20px;
}
.gen-sched-controls-header .cancel-btn{
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.gen-sched-controls-footer{
    padding-top: 10px;
    padding-bottom: 15px;
}
.gen-new-err-wrap{
    padding: 8px;
    font-size: 1.2em; 
    border: 1px solid #445;
    border-radius: 5px;
    color: #d9534f;
    background-color: rgba(240,240,240,.9)
}
#gen-new-error-dropdown{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}